<h2>Fullfør invitasjon</h2>

<%= simple_form_for(resource, :as => resource_name, :url => invitation_path(resource_name),  :wrapper => :inline, :html => { :class => 'form-stacked' }) do |f| %>
    <%= f.error_notification %>
    <%= f.hidden_field :invitation_token %>
    <%= f.input :email, :label => 'E-postadresse' %><a data-content="We need your email in case we have follow up questions. We respect your privacy and will not share the email address with others." rel="popover" href="#" data-original-title="Email privacy">[?]</a>
    <%= f.input :name, :label => 'Navn' %>
    <%= f.input :address, :label => 'Adresse' %>
    <%= f.input :postcode, :label => 'Postnr' %>
    <%= f.input :city, :label => 'Sted' %>
    <%= f.input :country, :as => :string, :label => 'Land', :input_html => { :value => 'Norge' } %>
    <%= f.input :password%>
    <%= f.input :password_confirmation %>
    <%= f.submit 'Godta invitasjon', :class =>'btn primary' %>

<% end %>

