<h3>Medlemmer</h3>

<table>
  <tr>
    <th>Epost</th>
    <th>Navn</th>
    <th>Adresse</th>
    <th>Postnr</th>
    <th>Sted</th>
    <th>Land</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @members.each do |member| %>
  <tr>
    <td><%= member.email %></td>
    <td><%= member.name %></td>
    <td><%= member.address %></td>
    <td><%= member.postcode %></td>
    <td><%= member.city %></td>
    <td><%= member.country %></td>
    <td><%= link_to 'Show', member, :class => 'btn success' %></td>
    <td><%= link_to 'Destroy', member, confirm: 'Are you sure?', method: :delete, :class => 'btn danger'  %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nytt medlem', new_member_session_path, :class => 'btn primary' %>
