<h1>Medlemmer</h1>

<p>
<%= link_to 'Invitér nytt medlem', new_member_path, :class => 'btn btn-primary' %>
</p>


<p>
  Antall <a data-toggle="modal" href="#membersModal">medlemmer</a>: <%= @members.count %>
  <br/>
  Antall <a data-toggle="modal" href="#participantsModal">påmeldte</a>: <%= @participants.count %>
  <br/>
  Antall inviterte: <%= @invited_count %>
</p>
<%= render partial: 'email_modal', locals: {themodal: 'membersModal', persons: @members, title: "Foreningens medlemmer"} %>
<%= render partial: 'email_modal', locals: {themodal: 'participantsModal', persons: @participants, title: "Påmeldte til genfors 20.mars" } %>

<h2> Medlemmer medlemmer </h2>
<table class="table table-condensed">
  <thead>
  <tr>
    <th>Påmeldt</th>
    <th>Navn</th>
    <th>Epost</th>
    <th>Postnr</th>
    <th>Sted</th>
    <th>Land</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</thead>

<tbody>
<% @members.each do |member| %>
  <tr>
    <td><%= member.participate ? "JA" : "Nei" %></td>
    <td><%= member.name %></td>
    <td><%= member.email %></td>

    <td><%= member.postcode %></td>
    <td><%= member.city %></td>
    <td><%= member.country %></td>
    <td><%= link_to 'Show', member, :class => 'btn success' %></td>
    <td><%= link_to 'Destroy', member, confirm: 'Are you sure?', method: :delete, :class => 'btn danger'  %></td>
  </tr>
<% end %>
</tbody>
</table>

<br />

